[user]
	name = Shivansh Mishra
	email = shivanshm95@gmail.com
[pull]
	rebase = true
[init]
	defaultBranch = main
[core]
	autocrlf = input
[color]
	ui = auto
[rerere]
	enabled = true
	autoUpdate = true
[branch]
	sort = -committerdate
